[toolchain]
anchor_version = "0.32.1"
solana_version = "3.0.13"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
blockrunners = "FajM5A4b5VgLSqcxxeYz3WxqsG3RnGiW9FN7G7PiBpcV"

[programs.localnet]
blockrunners = "6BwNv3aA437eCifxaUymtRov1bw17eK4xXuYVXodNWjC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
copy_idl = "mkdir -p app/src/idl && cp target/idl/blockrunners.json app/src/idl/blockrunners.json && anchor idl type app/src/idl/blockrunners.json -o app/src/idl/blockrunners.ts"
frontend = "cd app && yarn dev:localnet"
frontend_devnet = "cd app && yarn dev:devnet"
frontend_mainnet = "cd app && yarn dev:mainnet"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/*.ts"
