name: Test Anchor Program

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  SOLANA_VERSION: "3.0.13"
  ANCHOR_VERSION: "0.32.1"
  NODE_VERSION: "24.10.0"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test Anchor
        uses: IhorMuliar/test-anchor@v1.1
        with:
          features: test